@mixin nav_desktop {
    .nav{
    position: relative;
    z-index: 3;
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
    line-height: 25px;
    .logo{
        font-size: 2.2em;
    }
    .nav-bar {
        display: flex;
        .nav-items {
            padding: 0 10px;
        }
    }
}
.nav-links {
    font-size: 0.9em;
}
#marker{
    display: flex;
    right: 10px;
    position: absolute;
    width: 0;
    height: 3px;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    bottom: 0px;
}
.heroPage{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: -4%;
    background: url(/images/desktop/image-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    header{
    h1{
        position: absolute;
        font-size: 4em;
        text-transform: uppercase;
        width: 46%;
        height: 45%;
        border: 2px solid $white;
        top: 40%;
        left: 10%;
        margin-top: -30px;
        padding:  40px 45px;
        color: $white;
        font-weight: 300;
    }
    }
}
}

@mixin nav_mobile {
    #close{
        position: absolute;
        left: 93.5%;
        top: 10px;
        z-index: -3;
    }
    .nav_mobile{
        position: relative;
        z-index: 3;
        top: -130px;
        left: 5%;
        display: flex;
        width: 90%;
        justify-content: space-around;
        .nav-bar{
            position: fixed;
            height: 100%;
            width: 0; 
            z-index: 1; 
            left: 20px;
            top: 30%;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0, 0.9);
            overflow-x: hidden; 
            transition: 0.5s;
            .nav-items{
                padding: 10px 0;
                position: relative;
                top: 0; 
                width: 100%; 
                text-align: center;
                .nav-links{
                font-size: 1.4em;
                text-transform: uppercase;
                color: $darkGray;
                &:hover, &:focus{
                    color: $white;
                }
            }
        }
        } #marker{
            display: none;
        }
        .logo{
            padding-right: 37%;
        }
        #hamburger{
            margin-top: 2.5%;
            &:hover{
                cursor: pointer;
            }
        }
    }

    .heroPage{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    background: url(/images/mobile/image-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    header{
    h1{
        position: absolute;
        font-size: 2.6em;
        text-transform: uppercase;
        width: 90%;
        height: 37%;
        border: 2px solid $white;
        top: 45%;
        left: 5%;
        margin-top: -30px;
        padding: 25px;
        color: $white;
        font-weight: 300;
    }
    }
    }
}
